# Default ignored files
/../../Bài1_2_3_4 Tổng quan JS /.idea/shelf/
/../../Bài1_2_3_4 Tổng quan JS /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Bài1_2_3_4 Tổng quan JS /.idea/httpRequests/
